
 .gptChats {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;   /* важливо */
    min-height: 0; 
   overflow: hidden; 
}

.yourChats,
.gptNewChat {
    flex-shrink: 0;
    display: flex;
    gap: 13px;
    align-items: center;
    padding-left: 28px;
    border-radius: 11px;
    max-width: 288px;
    width: 100%;
    min-height: 40px;
    transition: background 1s ease-in;
}

.gptNewChat:hover, .gptNewChat:focus {
    background: var(--main-gray);
    cursor: pointer;
}
.span {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    color: var(--main-white);
    padding-bottom: 4px;
}

.chatsSpan {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: var(--main-white);
}

.labelWrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: -33px;
}
.chatsList {
  display: flex;
  flex-direction: column;
}

.chatsListItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  min-height: 42px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--main-white);
  border-radius: 11px;
  background: transparent;
  transition: background 0.3s ease;
  overflow: visible;
}

.chatsListItem:hover {
  background: var(--main-gray);
  cursor: pointer;
}

.chatsListItem:focus{
    background: var(--main-gray);
    cursor: pointer;
}

.dotsIcon {
  width: 28px;
  height: 24px;
  background-image: url('/icons/three-points.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.chatsListItem:has(.dotsIcon:hover) {
  background: transparent;
}
.chatsListItem:hover .dotsIcon {
  opacity: 1;
  }

.menuContainer {
  position: fixed; 
  transform: translateY(-50%); 
  z-index: 1000;
}
.chatTitle {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  color: var(--main-white);
}
.chatTitle[contenteditable="true"] {
  outline: none;
  background-color: #007bff;
  border-radius: 6px;
  padding: 2px 4px;
  cursor: text;
}