/* .modelHoverWrapper {
  position: relative;
}
.modalWrapper {
  width: 100%;
  position: absolute;
  top: -10px;
  left: -15px;
  z-index: 9999;
  } */
  .titleContainer{
    display: flex;
    align-items: end;
    gap: 18px;
   }

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--main-white);
    transition: all 0.5s ease-out;
}
.title:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    cursor: pointer;
}