.container {
  max-width: 380px;
  width: 100%;
  min-height: 200px;
  padding: 24px;
  border-radius: 11px;
  background-color: #0f172a;

  display: flex;
  gap: 16px;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #eee;
}
.paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #eee;
}
.buttonsContainer {
  margin-top: 33px;
  display: flex;
}

.cancelButton {
  padding: 14px 32px 13px 40px;
  background-color: #fff;
  border-radius: 14px;
  margin-right: 12px;
}

.cancelButton:hover {
  background-color: #ded5d5;
  cursor: pointer;
}

.deleteButton {
  padding: 14px 47px 13px 48px;
  background-color: #dc2626;
  border-radius: 14px;
  transition: all 0.3s ease;
}
.deleteButton:hover {
  background-color: #f85959;
  cursor: pointer;
}

.deleteButtonText,
.cancelButtonText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
}

.cancelButtonText {
  color: #334155;
}

.deleteButtonText {
  color: #fff;
}
