.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 2000;
}

.backdrop {
  position: absolute;
  inset: 0;
  background: rgba(159, 152, 152, 0.3);
}

.modalWrapper {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2001;
}
