.inputContainer {
  display: flex;
  align-items: flex-end;
  position: relative;
  max-width: 900px;
  min-width: 380px;
  height: auto;
  width: 100%;
}

.input {
  border: 0.2px solid #3e3d40;
  border-radius: 33px;
  width: 100%;
  height: 68px;
  max-height: 240px;
  padding: 20px 100px 20px 60px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25);
  background: var(--main-white);
  resize: none;
  overflow-y: hidden;
  line-height: 1.4;
  font-size: 18px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  color: #94a3b8;
}

/* .multiline .input {
  padding-bottom: 50px;
} */
.scrollable .input {
  overflow-y: auto;
}

.iconWrapper,
.iconWrapper1,
.iconWrapper2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  transition: top 0.2s ease, bottom 0.2s ease, transform 0.2s ease;
  z-index: 1;
}

.multiline .iconWrapper,
.multiline .iconWrapper1,
.multiline .iconWrapper2 {
  top: auto;
  bottom: 14px;
  transform: translateY(0);
}

.iconWrapper {
  left: 3%;
}
.iconWrapper1 {
  right: 10%;
}
.iconWrapper2 {
  right: 3%;
}

.iconWrapper::before,
.iconWrapper1::before,
.iconWrapper2::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: #f3f7fb;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.iconWrapper:focus::before,
.iconWrapper:active::before,
.iconWrapper1:focus::before,
.iconWrapper1:active::before,
.iconWrapper2:focus::before,
.iconWrapper2:active::before {
  opacity: 1;
}

.iconWrapper::after,
.iconWrapper1::after,
.iconWrapper2::after {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #1d212a;
  color: var(--main-white);
  padding: 5px 19px 6px 18px;
  border-radius: 7px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

.iconWrapper:hover::after,
.iconWrapper1:hover::after,
.iconWrapper2:hover::after {
  opacity: 1;
  visibility: visible;
}

.iconWrapper::after {
  content: "Add files and more";
}
.iconWrapper1::after {
  content: "Dictate";
  top: 58px;
}
.iconWrapper2::after {
  content: "Use voice model";
  top: 58px;
}

/* .expanded .input {
  padding: 20px 20px 60px 20px !important;
} */

.multiline .iconWrapper::after,
.multiline .iconWrapper1::after,
.multiline .iconWrapper2::after {
  top: auto;
  bottom: 45px;
}
.disabledHover:hover::after,
.disabledHover:focus::before,
.disabledHover:active::before {
  opacity: 0 !important;
  visibility: hidden !important;
}

.modalWrapper {
  max-width: 360px;
  width: 100%;
  position: absolute;
  bottom: 80;
}
.modalWrapper.hidden {
  display: none;
}
.modalWrapper.visible {
  display: block;
}
@media (max-width: 767px) and (min-width: 320px) {
.inputContainer{
  width: 100%;  
  min-width: auto; 
  max-width: 100%; 
  padding: 0 12px;  
  box-sizing: border-box;
}
/* .input {
  font-size: 16px;
  padding: 16px 60px 16px 40px;
  height: auto;
} */

.iconWrapper,
.iconWrapper1,
.iconWrapper2 {
  transform: translateY(-50%);
  
}
}
@media (max-width: 767px) and (min-width: 320px) {
  .input {
  font-size: 16px;
  padding: 16px 60px 16px 40px;
  height: auto;
  
}
.input::placeholder{
  position: relative;
  top: 5;
  font-size: 16px;
}
.iconWrapper,
.iconWrapper1,
.iconWrapper2 {
  width: 30;
  height: 30;
}

.iconWrapper{
  left:20;
}
.iconWrapper1 {
  right: 25%;
}
.iconWrapper2 {
  right: 10%;
}
}