.appContainer {
  display: flex;
  width: 100%;
  }

.rightSection {
  position: relative; 
  flex: 1;
  display: flex;
  flex-direction: column; 
  align-items: center;
  /* justify-content: center; */
 }

.inputWrapper {
  position: absolute;
  top: 39%;
  transform: translateY(-39%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 816px;
}

.inputBottom {
  width: 100%;
  max-width: 816px;
}

.spanContainer{
  margin-top: 5px;
  text-align: center;
}

.inputSpan {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  color: #555;
}






